/*body {
	background-color: #e2e2e2;
	
}*/
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px #f1e7c6 inset;
	transition: background-color 5000s ease-in-out 0s;
}

.userin-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.userin-dark-background {
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(29, 29, 29, 0.43);
	visibility: hidden;
	opacity: 0;
	z-index: 9999;
}
.userin-form-box {
	position: fixed;
	z-index: 10000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #f9f9f9;
	width: 410px;
	border-radius: 8px;
	margin-bottom: 80px;
	visibility: hidden;
	opacity: 0;
	font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial,sans-serif;
}
.userin-form-box.shadow-for-modal-on {
	box-shadow: 1px 18px 46px #636363d6;
}
.userin-form-box.shadow-for-modal-off {
	box-shadow: 0px 11px 37px #63636378;
}
.userin-form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.userin-close-button {
	width: 100%;
}
.userin-close-button svg {
	display: block;
    padding-top: 14px;
    margin-left: 371px;
}
.userin-close-button svg path {
	fill: #404040;
}
.userin-close-button svg:hover g path {
	fill: #FFFFFF;
}
.userin-close-button svg:hover g circle {
	fill: #d3132a;
}
.userin-logo {
	width: 50%;
	margin: auto;
	display: block;
	padding-bottom: 4px;
}
.userin-logo img {
	width: 63%;
	margin: auto;
	display: block;
	margin-top: -22px;
}
.userin-title {}
.userin-welcome-message {
	text-align: center;
	font-weight: bold;
	font-size: 32px;
	color: #404040;
	line-height: 41px;
	padding-bottom: 3px;
}
.userin-blurb {
	text-align: center;
	font-weight: 400;
	font-size: 17px;
	color: #989898;
	padding-bottom: 5px;
	letter-spacing: -0.4px;
}
.userin-login-signup-switch {
	padding-top: 14px;
}
#userin-login-footer div a {
	display:block;
	text-align: center;
}
.userin-login-form-show,
.userin-login-title-show,
.userin-login-footer-show,
.userin-signup-form-show,
.userin-signup-title-show,
.userin-signup-footer-show
 {
	display: block;
}
.userin-login-form-hide,
.userin-login-title-hide,
.userin-login-footer-hide,
.userin-signup-form-hide,
.userin-signup-title-hide,
.userin-signup-footer-hide {
	display: none;
}
.userin-email-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 15px;
}
.userin-input-form {
	height: 35px;
	border-radius: 3px;
	border-width: 0px;
	background-color: #e4e4e4;
	margin-top: 8px;
	font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial,sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #313131;
	padding-left: 10px;
	width: 300px;
}
input[name="password"] {
	-webkit-text-security: disc;
}
input:focus, textarea:focus, select:focus {
	outline: none;
}
.userin-login-button {
	height: 42px;
	border-radius: 3px;
	border-width: 0px;
	background-color: #bd081c;
	margin-top: 14px;
	font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial,sans-serif;
	font-weight: 500;
	font-size: 13px;
	letter-spacing: 0.4px;
	color: #ffffff;
	padding-left: 10px;
}
.userin-login-button:hover {
	background-color: #D3132A;
	cursor: pointer;
}
p.or {
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	color: #404040;
	line-height: 22px;
}
.userin-social-button {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.userin-social-button:hover {
	cursor: pointer;
}
.userin-social-button svg {
	flex: 1;
}
.userin-social-button .userin-button-msg {
	flex: 5;
	min-width: 200px;
}
.userin-social-button div {
	flex: 1;
	padding-left: 47px;
}
.userin-idp-button  {
	height: 42px;
	border-radius: 3px;
	border-width: 0px;
	font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial,sans-serif;
	font-weight: 500;
	font-size: 13px;
	color: #ffffff;
	margin-bottom: 6px;
	letter-spacing: 0.4px;
	width: 311px;
}
.userin-button-msg {
	text-align: left;
	padding-left: 10px;
}
.userin-social-media-logo-container {
	display: flex;
	justify-content: center;
}
.userin-social-media-logo {
	height: 27px;
	width: 27px;
}
.userin-form-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 3px;
	width: 311px;
}
.userin-social-media-logo-background {
	display: flex;
	align-items: center;
	height: 28px;
	width: 28px;
	background-color: #ffffff;
	border-radius: 2px;
}
.userin-facebook-button:hover {
	background-color: #224fa9;
}
.userin-facebook-button {
	background-color: #4468B0;
}
.userin-google-button:hover {
	background-color: #2475f5;
}
.userin-google-button {
	background-color: #4688f1;
}
.userin-linkedin-button:hover {
	background-color: #006ca5;
}
.userin-linkedin-button {
	background-color: #0077b5;
}
.userin-github-button:hover {
	background-color: #313030;
}
.userin-github-button {
	background-color: #424242;
}
.userin-twitter-button:hover {
	background-color: #1588e2;
}
.userin-twitter-button {
	background-color: #38A1F3;
}
.userin-terms {
	width: 260px;
	font-size: 11px;
	color: #989898;
	text-align: center;
	margin-top: 6px;
	line-height: 15px;
}
.userin-terms a {
	font-weight: 500;
	color: #6f6f6f;
	text-decoration:none;
}
.userin-terms a:hover {
	color: #404040;
	text-decoration:none;
}
.userin-horizontal-line {
	border: 0.5px solid #dedede;
    width: 100px;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 5px;
}
.userin-forgot-password a,
.userin-signup a {
	font-weight: 500;
    color: #6f6f6f;
    text-decoration: none;
    font-size: 13px;
}
.userin-forgot-password a:hover,
.userin-signup a:hover {
    color: #404040;
    text-decoration: underline;
}
.userin-error-form-message {
	width: 300px;
	margin-top: 10px;
	color: #ff8703;
	font-size: 12px;
}
.userin-footer {
	height: 25px
}

.userin-linear-progress-material {
	width: 99.1%;
	margin: auto;
	height: 4px;
	background: #f38895;
	border-radius: 6px 6px 0px 0px;
	position: relative;
	overflow: hidden;
	animation: start .3s ease-in;
}

.userin-linear-progress-material .userin-bar {
	position: absolute;
	background: #bd071c;
	transition: transform .2s linear;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
}

.userin-linear-progress-material .userin-bar1 {
	animation: growBar1 2.5s infinite, moveBar1 2.5s infinite;
}

.userin-linear-progress-material .userin-bar2 {
	animation: growBar2 2.5s infinite, moveBar2 2.5s infinite;
}

@keyframes start {
	from {
		max-height: 0;
		opacity: 0;
	}
	to {
		max-height: 20px;
		opacity: 1;
	}
}

@keyframes growBar1 {
    0% {
        animation-timing-function: linear;
        transform: scaleX(.1);
    }
    36.6% {
        animation-timing-function: cubic-bezier(.33473,.12482,.78584,1);
        transform: scaleX(.1);
    }
    69.15% {
        animation-timing-function: cubic-bezier(.22573,0,.23365,1.37098);
        transform: scaleX(.83);
    }
    100% {
        transform: scaleX(.1);
    }
}

@keyframes moveBar1 {
    0% {
        left: -105.16667%;
        animation-timing-function: linear;
    }
    20% {
        left: -105.16667%;
        animation-timing-function: cubic-bezier(.5,0,.70173,.49582);
    }
    69.15% {
        left: 21.5%;
        animation-timing-function: cubic-bezier(.30244,.38135,.55,.95635);
    }
    100% {
        left: 95.44444%;
    }
}

@keyframes growBar2 {
    0% {
        animation-timing-function: cubic-bezier(.20503,.05705,.57661,.45397);
        transform: scaleX(.1);
    }
    19.15% {
        animation-timing-function: cubic-bezier(.15231,.19643,.64837,1.00432);
        transform: scaleX(.57);
    }
    44.15% {
        animation-timing-function: cubic-bezier(.25776,-.00316,.21176,1.38179);
        transform: scaleX(.91);
    }
    100% {
        transform: scaleX(.1);
    }
}
        
@keyframes moveBar2 {
    0% {
        left: -54.88889%;
        animation-timing-function: cubic-bezier(.15,0,.51506,.40968);
    }
    25% {
        left: -17.25%;
        animation-timing-function: cubic-bezier(.31033,.28406,.8,.73372);
    }
    48.35% {
        left: 29.5%;
        animation-timing-function: cubic-bezier(.4,.62703,.6,.90203);
    }
    100% {
        left: 117.38889%;
    }
}


